{% extends "layout.html" %}
{% block body %}
<div class="texts">
	{% if post['is_secret']==False or session.user_id in [post['user_id'], post['wall_id']] %}
	<div class="text">
		<div class="posts">
			<p class="writer">
				<a href="{{ url_for('wall', wall_id=post['user_id']) }}">{{ post['email'] }}</a>
			</p>
			<p class="written_time">
				{{ post['created_time'] }} 
				{% if post['is_edited']==1 %}
				edited:{{ post['edited_time'] }} 
				{% endif %}
				{% if post['is_secret']==1 %}
				secret
				{% endif %}
			</p>
			<p class="content">
				{{ post['body'] }}
			</p>
			{% if session.user_id==post['user_id'] %}
			<p>
				<a href="{{ url_for('edit', post_id=post['id']) }}">Edit</a>
				<a href="{{ url_for('remove', post_id=post['id']) }}">Remove</a>
			</p>
			{% endif %}
		</div>
		{% for i in ordered_comments %}
		<div class="comments">
			<a href="{{ url_for('wall', wall_id=i['user_id']) }}">{{ i['email'] }}</a>
			{{ i['created_time'] }}
			{% if i['is_edited']==True %}
			edited:{{ post['edited_time'] }} 
			{% endif %}
		</div>
		<p class="comments">
			{{ i['body'] }}
		</p>
		{% if session.user_id==i['user_id'] %}
		<p>
			<a href="{{ url_for('edit_comment', comment_id=i['id']) }}">Edit</a>
			<a href="{{ url_for('remove_comment', comment_id=i['id']) }}">Remove</a>
		</p>
		{% endif %}
		{% endfor %}
		<form action="{{ url_for('comment', post_id=post['id']) }}" method="post">
			Comment: 
			<input type="text" name="comment_body" class="long_input">
			<input type="submit" value="Sumbit" class="reverse__btn">
		</form>
	</div>
	{% endif %}
</div>
{% endblock %}